html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Roboto Mono', serif;
    background:black;
    color: whitesmoke;
}

@font-face {
    font-family: 'anurati';
    src: url('fonts/Anurati-Regular.otf');    
}

.bg-black {
    background-color: #000;
}

/** NAV START **/
.navbar > span a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'anurati';
    font-size: 35px;
    font-weight: normal;
    transition: all 0.3s ease-out;
    animation: glitch 750ms infinite;
}

.navbar > span a:hover {
    text-decoration: none;
}

.navbar .navbar-nav li a {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto Mono',serif;
}

.navbar .navbar-nav li {
    position: relative;
}

/** NAV HOVER ANIMATION **/
.navbar-nav a::before, .navbar-nav a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar-nav a::before {
	margin-right: 7px;
    font-size: 20px;
	content: '{';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.navbar-nav a::after {
	margin-left: 7px;
    font-size: 20px;
	content: '}';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar-nav a:hover, .navbar-nav a:hover::before, .navbar-nav a:hover::after, .navbar-nav a:focus::before, .navbar-nav a:focus::after {
	color:whitesmoke !important;
	background-color: transparent !important;	
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;    
    font-weight: 300;
    font-size: 20px;
    color: whitesmoke;
    transition: all 0.3s ease-out;
    animation: glitch 750ms infinite;
}
/** NAV HOVER ANIMATION END **/
/** NAV END **/

/** Home page START **/
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-weight: lighter;
    text-align: center;
    position: relative;
    margin-bottom: 200px;
    font-size: 60px;
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 75px;
}

.home h2 {
    font-weight: lighter;
    text-align: center;
    position: absolute;
    opacity: 0;
    margin-top: 200px;
    font-size: 55px;
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 75px;
    transform: translateY(3rem);
    animation: fadeUp 3.5s ease forwards;
}

.home h1::before,
.home h1::after {
    content: "";
    position: absolute;
    inset: 0;
}

.home h1::before {
    background: black;
    animation: typewriter 3s ease forwards;
}
/** Home page END **/

/** About me page START **/
.about-me {
    color: whitesmoke;
    margin-top: 100px;
}

.about-me h1 {
    margin-bottom: 50px;
    font-style: italic;
    font-size: 50px;
    font-weight: lighter;
}

.about-me p {
    margin-top: 10px;
    font-size: 27px;
    font-weight: 300;
}

.social {
    justify-content: flex-start;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border: 0 solid whitesmoke;
    padding: 15px 15px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 80px;
    font-size: 27px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    transition: 0.2s;
}

.social a i {
    transition: 0.8s;
}

.social a:hover {
    transform: scale(1.1);
    background-color: black;
    border: 0 solid black;
    color: whitesmoke;
}

.social a:hover i {
    transform: rotate(15deg) scale(1.2);
}
/** About me page END **/

/** Projects page START **/
.projects {
    margin-top: 200px;
}

.projects .card {
    background-color: #000;
    border: 1px solid whitesmoke;
}

.projects .card img {
    width: 90px;
    margin: 40px auto 20px;
}

.projects .card-body {
    color: whitesmoke;
}
/** Projects page END **/

/** Contact page START **/
.contact {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
    user-select: none;
}

.contact h1 {
    font-style: italic;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}

.contact-form {
    margin: 100px auto;
    width: 100%;
    max-width: 600px;
}

.contact-form textarea,
.contact-form input {
    border-radius: 25px;
    border: 1px solid lightgray;
    resize: none;
    padding: 10px 30px;
    outline: 0;
    color: whitesmoke;
    background: transparent;
    font-size: 15px;
}

.contact-form textarea:focus,
.contact-form input:focus {
    border: 1px solid lightgray;
    color: whitesmoke;
    background: transparent;
}

.contact-form label {
    font-family: 'Roboto Mono', serif;
    padding: 10px;
    color: whitesmoke;
    transition: 0.2s;
    cursor: text;
}

.contact-form a {
    position: absolute;
    padding: 10px 30px;
    margin: 0 35px;
    color: lightgray;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 0.5s;
}

.contact-form a:hover {
    background: lightgray;
    color: black;
    transition-delay: 0.5s;
    box-shadow: 0 0 50px lightgray;
}

.contact-form a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    transition: 0.5s;
    transition-delay: 0s;
}

.contact-form a:hover::before,
.contact-form a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.contact-form a::after {
    content: "";
    position: absolute;
    bottom:  0;
    right:0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    transition: 0.5s;
    transition-delay: 0s;
}
/** Contact page END **/

/** MOBILE VIEW START **/
@media (max-width: 768px) {
    .home h1 {
        font-size: 25px;
    }
    .home h2 {
        font-size: 25px;
    }
    .about-me {
        margin-top: 40px;
    }
    .about-me h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .about-me p {
        font-size: 16px;
    }
    .social {
        justify-content: space-around;
    }
    .social a {
        width: 10px;
        height: 10px;
        margin-top: 5%;
        margin-left: 80px;
        margin-right: 0;
    }
    .projects {
        margin-top: 40px;
    }
    .contact {
        margin-top: 40px;
    }
    .contact h1 {
        font-size: 23px;
    }

    .contact-form {
        margin: 40px auto 100px;
    }

    .contact-form label {
        font-size: 15px;
    }
}
/** MOBILE VIEW END **/

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

/** ANIMATIONS START **/
@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
}
/** ANIMATIONS END **/